
#ui-datepicker-div{
	z-index: 9999 !important;
}
/* .defaultBorder{
	border-color: #ccc !important;
} */

.defaultBorder input[type=text], .defaultBorder input[type=text]+.input-group-addon {
    border-color: #ccc !important;
}
.defaultBorder .form-control {
	border-color: #ccc !important;
}
.employeeInformationAddButton{
    padding: 10px 3% 0 3%;
}

#divSmallBoxes {
	right: 50% !important;
}
.icon-red {
    color: red
}
.icon-green {
    color: green
}
.light-green {
    color: lightgreen;
}
.spin-custom {
	position: relative !important;
	top: 0 !important;
	margin-left: 5px;
	font-size: 1em !important;
}

.modal-sm{
    width: 450px !important;
    max-width:  450px !important;
}
.loader-item {
	width:100%;
	height: 100%;
	margin: 20px;
	border-radius: 3px;
	position: absolute;
	margin: 0 auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	}

.loader08 {
	width: 20px;
	height: 20px;
	position: relative;
	animation: loader08-ub06eb63b 1s ease infinite;
	top: 50%;
	margin: -46px auto 0;
}

.amount-align-right{
    float: right;
}

.header-align-center{
    text-align: center;
}

/* .input-sm{
  height: 32px !important;
} */

.smart-form .tooltip {
    opacity: 999999 !important;
    width:250px !important;
}
.tooltip-inner {
     max-width: 250px !important; 
     text-align: left !important;
}
.dd .tooltip {
    opacity: 999999 !important;
    width: auto !important;
    top: 5px !important;
    padding : 0px !important;
}

.cus-config-footer {
    border-top: 0px solid rgba(0,0,0,.1) !important; 
    background: white !important;
}
.required-icon{
    color: red
}
#manage-child-account-form .help-block{	
	display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b94a48;
}

.help-bloc-red{
	color: #b94a48 !important;	
}

.customareaform-emp {
    padding: 0 3% 25px 2%;
}

#logo img {
    width: 65px !important;
    height: auto;
    padding-left: 3px;
}

#logo{
    margin-top:5px !important;
}


@media (min-width: 768px){
	.modal-dialog {
		width: 800px !important;
	}
}

/* .MessageBoxContainer {
    top: 10% !important;
    color: #ffffff !important;
    position: relative !important;
    width: 30% !important;
	background-color: #275BAB !important;
	border-color: #2c699d !important;
    padding: 2% !important;
    left: 35% !important;
}
.MessageBoxMiddle {
    position: relative !important;
    left: 2% !important;
	width: 100% !important;
} */

.smart-form footer .btn {
    float: none;
    height: 31px;
    margin: 10px 0 0 5px;
    padding: 0 22px;
    font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.error-msg {
    display: block;
    margin-top: 6px;
    padding: 0 1px;
    font-style: normal;
    font-size: 11px;
    line-height: 15px;
    color: #D56161;
}

body:not(.menu-on-top).desktop-detected {
    min-height: 0px!important;
}
.ext-form-actions{
    text-align: left;
    _padding-right: 21%;
}

.d-block{
    display: block;
}
.d-inline{
    display: inline-block;
}
.alert-link{
    color: #3276b1; 
}
.link-decoration{
    text-decoration: underline;
    cursor: pointer;
}
.btn-full-width{
    width: 100%;
}
.padding-right-0{
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: right
}

#search-loader {
	border: 10px solid #f3f3f3;
	border-radius: 50%;
	border-top: 10px solid #4dc3ff;
	border-left: 10px solid #000000 transparent;
	border-right: 10px solid #000000 transparent;
	border-bottom: 10px solid #4dc3ff;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin-left: 50%;
	margin-top: 9%;
}
.asdnewform .has-error input[type=text], .asdnewform .has-error input[type=text]+.input-group-addon {
    border-color: #b94a48 !important;    
}
.asdnewform .has-error .form-control {
    border-color: #b94a48 !important;  
}
.asdnewform .has-success .form-control {
    border-color: #468847 !important;   
}

.ck.ck-editor__editable_inline {
    overflow: auto !important;
    padding: 0 var(--ck-spacing-standard);
    border: 1px solid #ddd !important;
}

.userNameMenuItem {
    border-bottom: 1px solid gray;
    font-weight: bold;   
  }

  a.userNameMenuItem {
    color: #F76123 !important;
  }
  
  a.userNameMenuItem :hover {
    color: rgb(233, 75, 7) !important ;
  }

.boxarea p{
    font-family: "Roboto", Arial, Helvetica, sans-serif !important;
    color: #999 !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

.ngx-pagination .current {
    background: #ed6723 !important;
    border-radius: 2px;
}

ng2-auto-complete{
    max-height: 120px; 
    overflow-y: scroll; 
    overflow-x: hidden;   
}

.ngui-auto-complete ul {
    max-height: 120px; 
    overflow-y: auto;
}

.disable-notification-button {
    cursor: not-allowed;
    text-decoration: none;
}

.dateandplacesradio{
    
    cursor: not-allowed !important;
}

@media (max-width: 991px){
	.posted-employee-file {
        margin-left: 13px;
        margin-top: 5px;
	}
}

.ng2-auto-complete-wrapper, .ngui-auto-complete-wrapper {
    margin-top: 5px !important;
}
