
<div class="container">
    <br/>
    <div class="row">
        <div class=" col-sm-12">
            <div class="topheader">
                <h3>{{"File Association"}}</h3>
            </div>
        </div>
    </div>

    <tushar-ng-drag-drop 
        [documentList]="documentList"
        [documentTypeList]="documentTypeList"
        (onDraggable) ="onDraggableData($event)"
        (onLeftDraggableDrop)="onLeftDraggableDrop($event)"
        (onRightDraggableDrop)="onRightDraggableDrop($event)"
    ></tushar-ng-drag-drop>

    <hr *ngIf="count!=0"/>
    <div class="row" *ngIf="count!=0">
        <div class="col-sm-12">
            <b>Action - {{count}}: {{actionName}}</b>
            <br/>
            <br/>
            {{actionDetail | json}}
        </div>
    </div>
    <br/>
</div>